/* Общие стили для сайта */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}

/* Боковая панель */
.sidebar {
    width: 220px; /* Устанавливаем фиксированную ширину боковой панели */
    background-color: #1a1a1a;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    z-index: 10;
    overflow-y: auto;
}

/* Логотип на боковой панели */
.sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Список навигации боковой панели */
.sidebar .toc {
    list-style: none;
    padding: 0;
}

.sidebar .toc li {
    margin: 10px 0;
}

.sidebar .toc a {
    color: #ccc;
    text-decoration: none;
}

.sidebar .toc a:hover {
    color: #f39c12;
}

/* Основной контейнер */
.main-container {
    margin-left: 220px; /* Отступ от боковой панели */
    padding: 20px;
    flex-grow: 1;
    background-color: #2e2e2e;
    color: #e0e0e0;
    overflow-y: auto;
}

/* Заголовки */
header {
    margin-bottom: 40px;
}

h1, h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

/* Блоки кода */
pre {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
}

code {
    color: #f39c12;
    font-family: "Courier New", Courier, monospace;
}

/* Стили для ссылок и навигации */
a {
    color: #f39c12;
}

a:hover {
    text-decoration: underline;
}
